.section {
  min-height: 85vh;
}

.col01 {
  background-color: rgba(0, 0, 0, 0.5);
}

.col02 {
  padding-block: 1em;
  margin-block: 1em;
}
.input-group-text {
  font-size: xx-small;
}
