body {
  background-image: url(../images/img5.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.logo {
  display: inline-flex;
}

.nav-top {
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), white, rgba(0,0,0,0.5));
}

.container-fluid {
  z-index: 999;
}

.logo>img {
  height: 2.5em;
}

.logo-text {
  margin-top: 0.23em;
  margin-left: 0.5em;
  margin-right: -1em;
}

.active {
  font-weight: 600;
}

.navbar-collapse {
  margin-left: 2em;
}