body {
  background-image: url(../images/img5.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.carousel-inner {
  width: 100%;
  min-height: 85vh;
}

.carousel-item {
  width: 100%;
  min-height: 80vh;
  margin-bottom: 1em;
}

/* .fon img {
  position: fixed;
  height: 100vh;
  min-width: 100vw;
  z-index: -1000;
} */

/* .fon2 {
  position: fixed;
  height: 100vh;
  min-width: 100vw;
  z-index: -900;
  background-color: rgba(0, 0, 0, 0.4);
} */

.carousel-caption {
  text-align: left;
  max-width: 33em;
  color: white;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
  padding-inline: 1em;
}

.carousel-caption p {
  text-align: right;
}

.carousel-caption h2 {
  text-align: center;
}