.carousel-item {
  width: 100%;
  min-height: 85vh;
}

.carousel-caption {
  text-align: left;
  max-width: calc(33em + 40vw);
  color: white;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
  padding-inline: 0.5em;
}

.carousel-caption p {
  text-align: right;
  font-size: calc(1.4vh + 1.4vw);
}

.carousel-caption h1 {
  font-size: calc(2.5vh + 1vw);
}

.carousel-caption h2 {
  text-align: center;
  font-size: calc(2vh + 1.5vw);
}