* {
  text-align: center;
}
html {
  font-size: 10px;
}
.button {
  background-color: #548cd6;
  color: #e0ffff;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  letter-spacing: 2px;
  display: inline-block;
  text-align: right;
}
section {
  padding: 10rem 0;
}
.main {
  padding: 2rem 0;
  background: #000000 url(../img/bg-slider.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin: 7rem 0rem;
  background: #0005;
  border-radius: 1rem;
  padding: 0 1rem;
}
.main-title {
  display: inline-block;
  text-align: left;
  width: 100%;
}
.main-title h1,
.main-title p {
  display: inline-block;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  width: 100%;
  line-height: 1.3;
  color: #e0ffff;
}
.main-title h1 {
  margin-bottom: 3rem;
  padding-top: 2.8rem;
  font-size: 3rem;
  letter-spacing: 0.06rem;
}
.main-title p {
  margin-bottom: 5.4rem;
  font-size: 1.85rem;
  letter-spacing: 0.01rem;
}
.main-desc {
  display: inline-block;
  text-align: justify;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #e0ffff;
}
.main-desc-p {
  text-align: justify;
  margin: 2rem 0rem;
}
.main-desc-s {
  text-align: left;
  margin: -2rem 0 -2rem 2rem;
  font-weight: 400;
}
.wrap {
  display: table;
  width: 100%;
  height: 5rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.header {
  height: 7rem;
  background-color: #000c;
  border-radius: 1rem;
  padding: 1rem;
}
.header-logo {
  width: 200%;
  text-align: left;
}
.header-logo img {
  height: 4rem;
  display: inline-block;
  margin-top: -3.2rem;
}
.header-logo p {
  display: inline-block;
  text-align: left;
  height: 5rem;
  line-height: 2.5rem;
  color: #548cd6;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0rem;
  text-transform: uppercase;
}
.pnone {
  width: 200%;
  margin-left: -100%;
  font-weight: 500;
  font-size: 2rem;
  height: 5rem;
  line-height: 5rem;
  display: inline-block;
  text-align: right;
  word-spacing: -2px;
  letter-spacing: 0px;
}
.pnone a {
  color: #e0ffff;
}
